/* Theme */

html {
  height: 100%;
}

body {
  border: 1.25em solid #15deb0;
  min-height: 100%;
  color: #009876;
}

/* Logo and Header */

.logo {
 width: 100%;
}

.epicodus-logo {
  border: 5px solid #fff;
  padding: 15px 30px;
  margin: 10px 0 0 0;
}

h1 {
  margin: 25px 0;
}

/* Quiz */

.quiz {
  padding: 10px;
  border: 3px solid #fff;
}

.btn {
  margin-top: 10px;
}

/* Track Revealer */

.track {
  display: none;
  text-align: center;
}
